.btn-container{
    display: grid;
    align-content: space-between;
    justify-items: center;
    justify-self: end;
}

button{
    background-color: transparent;
    border: solid 2px #000;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

.color-palette{

}

.grid-size{
    display: grid;
    justify-items: center;
}